.btn {
    font-size: 14px;
    line-height: 17px;
    padding: 12px 22px;

    display: inline-block;
    border-radius: 4px;

    font-weight: 600;
    color: var(--main-color);


    border: 1px solid rgba(53, 98, 214, 0.35);
}

.btn__lg {
    padding: 16px 26px;

    font-size: 17px;
    line-height: 21px;
}


.btn__primary {
    color: #fff;
    background-color: var(--main-color);
}