.faq {
    display: flex;
    margin: 0 -32px;
}
.faq__preview {
    flex: 5;
    padding: 0 32px;
}
.faq__text {
    margin-top: 23px;
    margin-left: 1px;
    max-width: 430px;
}
.faq__btn {
    margin-top: 33px;
    margin-left: 1px;
}
.faq__items {
    flex: 11;
    padding: 0 32px;
}