body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: #333;
    font-weight: bold;
}

.color-text {
    color: #666;
}

.font-text__large {
    font-size: 15px;
    line-height: 25px;
}

.font-text {
    font-size: 14px;
    line-height: 21px;
}

.radius {
    border-radius: 4px;
}