.main-block {
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-block__inner {
    max-width: 1504px;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 80px;
}

.main-block__title {
    font-size: 36px;
    line-height: 46px;
}