.question {
    border: 1px solid var(--border-color);
    padding: 32px 39px;
    margin-top: -1px;
    position: relative;
    transition: box-shadow 0.2s;
    cursor: pointer;
}
.question:hover {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    border-color: #fff;
    z-index: 1;
}
.question::before {
    content: '';
    position: absolute;
    left: -1px;
    top: 38px;
    width: 4px;
    height: 13px;
    border-radius: 0 3px 3px 0;
    transition: background-color 0.2s;
}
.question.show::before {
    background-color: var(--main-color);
}

.question__preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: -10px;
}
.question__title {
    font-size: 18px;
    line-height: 28px;
}
.question__plus {
    background-image: url('../images/faq/plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 14px;
    width: 14px;
    transition: transform 0.2s;
}
.question.show .question__plus {
    transform: rotate(45deg);
}


.question__detail {
}
.question__detail-text {
    margin-top: 25px;
}
.question_button {
    margin-top: 32px;
}